{{template "/base/header" .}}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            
            <div class="layui-card-body">
                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input type="text" name="key" placeholder="插件名称" autocomplete="off" class="layui-input h30" value="">
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" data-id="list" lay-submit lay-filter="table-sreach">搜索
                        </button>
                    </div>
                </div>
                <div id="list"></div>
            </div>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js?v={{BuildCommit}}"></script>
<script type="text/javascript">

layui.config({base: '{__STATIC__}/admin/layuiadmin/'}).use(['table','jquery'], function(){
///
var admin = layui.admin
,$ = layui.$
,form = layui.form
,table = layui.table;

table.render({
    elem: '#list',
    url: '/plugin/list',
    defaultToolbar: [],
    title: '数据表',
    cols: [[
        {field:'name', title:'插件名称',width:130},
        {field:'ps', title:'说明'},
        {field:'status', title:'状态',width:170,},
        {title:'操作', toolbar: '#cmdTpl', width:70, fixed: 'right'}
     ]],
    page: true
});

///
});
</script>
{{template "/base/footer" .}}