{{template "/base/header" .}}

<div class="layui-fluid">
    <div class="layui-col-md12" style="padding: 5px;">
        <div class="layui-card">
            
            <div class="layui-card-body">
                <div class="layui-form toolbar" style="margin-top: 10px;margin-bottom: 10px;">

                    <div class="layui-inline mr0">
                        <div class="layui-input-inline mr0">
                            <input type="text" name="key" placeholder="插件名称" autocomplete="off" class="layui-input h30" value="">
                        </div>
                    </div>

                    <div class="layui-inline mr0">
                        <button class="layui-btn layui-btn-sm" data-id="list" lay-submit lay-filter="table-sreach">搜索
                        </button>
                    </div>
                </div>
                <div id="list"></div>
            </div>
        </div>
    </div>
</div>

<script src="/static/common/js/pulgins.js?v={{BuildCommit}}"></script>  

{{template "/base/footer" .}}