<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>定制</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/modules/laydate/default/laydate.css?v={[BuildCommit]}">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css?v={[BuildCommit]}" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/template.css?v={[BuildCommit]}" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css?v={[BuildCommit]}" media="all">
    <link rel="stylesheet" href="/static/common/css/common.css?v={[BuildCommit]}" media="all">
    <script src="/static/layuiadmin/layui/layui.js?v={{BuildCommit}}"></script>
    <script src="/static/common/js/jquery-1.10.2.min.js?v={[BuildCommit]}"></script>
    <script src="/static/common/js/common.js?v={[BuildCommit]}"></script>
</head>

<body class="layui-layout-body">
<!-- start -->
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>

                <!-- <li class="layui-nav-item layui-hide-xs" lay-unselect><a href="/">系统</a></li> -->
            </ul>

            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite>{[.LoggedUserName]}</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center;"><a href="/logout">退出</a></dd>
                    </dl>
                </li>
              
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>
      
        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo layui-hide-xs layui-bg-black">
                    <span>定制</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">

                	<li data-name="home" class="layui-nav-item layui-nav-itemed {[if .PageIsHome ]}layui-this{[end]}">
                        <a href="/" lay-tips="控制台" lay-direction="2" >
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>控制台</cite>
                        </a>
                    </li>

                    <li data-name="plugin" class="layui-nav-item layui-nav-itemed {[if .PageIsPlugin ]}layui-this{[end]}">
                        <a href="/plugin" lay-tips="插件管理" lay-direction="2">
                            <i class="layui-icon layui-icon-release"></i>
                            <cite>插件管理</cite>
                        </a>
                    </li>


                    {[range $_I,$_M:=.PluginMenu]}
                    {[range .Menu]}
                    <li data-name="{[$_M.Path]}" class="layui-nav-item layui-nav-itemed">
                        <a href="/plugin/menu?name={[$_M.Path]}&tag={[.Tag]}" lay-tips="{[.Title]}" lay-direction="2">
                            <i class="layui-icon {[$_M.Icon]}"></i><cite>[插件]{[$_M.Name]}-{[.Title]}</cite>
                        </a>
                    </li>
                    {[end]}
                    {[end]}
                </ul>
            </div>
        </div>

         <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage" style="right:0px;"></div>

            <div class="layui-card layadmin-header" style="display: block; line-height: 40px;height: 40px;">
                <div class="layui-breadcrumb" lay-filter="breadcrumb">
                    {[if .PageIsHome ]}<a><cite>主页</cite></a>{[end]}
                    {[if .PageIsPlugin ]}<a><cite>插件管理</cite></a>{[end]}

                    {[range $_I,$_M:=.PluginMenu]}
                    {[if eq .Path $.PageIsPluginMenu_Name ]}
                        {[range .Menu]}
                            {[if eq .Tag $.PageIsPluginMenu_Tag ]}
                            <a><cite>[插件]{[$_M.Name]}</cite></a>
                            <a><cite>{[.Title]}</cite></a>
                            {[end]}
                        {[end]}
                    {[end]}
                    {[end]}
                </div>
            </div>
        </div>
      
        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show" style="overflow-y: auto;margin-bottom: 40px;">
<!--     
        </div>
</div> 
-->
